.class_items_box{  
    border: 1px solid #a1a1a155;
    /* padding: 10px; */
    margin: auto;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
}

.checkout_box{
    display: flex;
    flex-direction: row;
    align-items: end;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    margin-top: 20px;
    /* margin-bottom: 800px; */
}

.checkout_box button{
    margin-right: 0;
    
}

.empty_cart{
    padding-left: 50px;
    font-size: 20px;
}

/* super small screens*/
@media (max-width: 380px) {
    .checkout_box{
        flex-direction: column;
    }
    
}