footer {
    background-color: #F4F4F9;
    width: 100%;
    bottom: 0;
    margin-top: 100vh;
}

.center {
    padding: 40px 0;
    text-align: center;
    background-color: #F4F4F9;
}

.footer_text{
    border: 3px solid green;
    text-align: center;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

@media (max-width: 700px) {
    .footer_text{
        width: 270px;
    }
}

/* super small screens */
@media (max-width: 380px) {
    .footer_text{
        width: 200px;
    }
}