.items{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: auto;
    overflow: scroll;
    scroll-behavior: smooth;
}


.arrow{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

}

.dots{
    text-align: center;
}

.fa-dot-circle{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

/* square buttons */
.rec.rec-arrow {
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}

/* round buttons on hover */
.rec.rec-arrow:hover {
    /* border-radius: 50%; */
    background-color: rgb(255, 255, 255);
    
}


.rec.rec-arrow:disabled {
    visibility: hidden;
}


button.rec-dot{
    background-color: rgb(251, 251, 251);
    display: none;
}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: black;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}


