.title{
 font-size: 40px;
 opacity: .8;
 font-weight: bold;
 text-transform: uppercase;
}

.price{
    font-size: 20px;
    opacity: .6;
    font-weight: bold;
}

.product_line{
    opacity: .3;
}

.right_view_container{
    width: 400px;
    text-align: left;
    margin-left: 20px;
    padding-right: 20px;
}


@media (max-width: 768px) {
    .right_view_container{

        text-align: center;
        margin: auto;
        width: 200px;
    }
    .product_line{
        margin-top: 20px;
    }
}