.updateBTN, .checkout_button, .addToCarBTN, .addBTN, .continueShoppingBTN{
    background-color: rgb(77, 77, 77);
    height: 50px;
    color: white;
    border: none;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: .5s;
    /* margin: 10px; */
}

.updateBTN:hover, .checkout_button:hover, .addToCarBTN:hover, .addBTN:hover, .continueShoppingBTN:hover{
    background-color: rgb(157, 157, 157);
}


.updateBTN{
    margin-top: 10px;
}

.checkout_button{
    margin-left:10px ;
}
.continueShoppingBTN{
    margin-left: 50px;
}

@media (max-width: 380px) {
    .continueShoppingBTN{
        padding: 8px;
    }
}